@page
@model AplikasiKendaraan.Pages.KendaraanPage.DataSudahAdaModel
@{
}
<div style="text-align:center;">
    <h1 class="text-danger" style="font-size:5rem;">Data Sudah Ada</h1>
    <a asp-page="./Create" style="margin-top:20px;"  class="btn btn-dark tombol">Kembali</a>
</div>